.schedule-detail {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;

        button {
            margin-right: 8px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row-reverse;
    }
}
