.schedules {
    display: flex;
    flex-direction: row;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 16px;
    }

    .logs__container {
        width: 100%;
    }
}
